.node {
  //width: 100%;
  //height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;

  border: 1px solid whitesmoke;

  .start,
  .target {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffd740;
    border-radius: 100px;
    background-color: #ffd740;

    mat-icon {
      cursor: pointer;
      color: black;
      height: 18px;
      width: 18px;
      font-size: 18px;
    }
  }

  &.wall {
    background-color: black;
    border-color: black;
  }

  &.opened, &.closed {
    background-color: #ffecb3;
    border-color: #ffecb3;
  }

  &.path {
    background-color: #ffd740;
    border-color: #ffd740;
  }
}
