<mat-card *ngIf="!isHidden" @openCloseCard>
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content [formGroup]="settingsForm">
    <mat-form-field appearance="fill">
      <mat-label>Algorithm</mat-label>
      <mat-select formControlName="algorithmId">
        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">{{ algorithm.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maze</mat-label>
      <mat-select formControlName="mazeId" (selectionChange)="onGenrateMaze($event.value)">
        <mat-option *ngFor="let maze of mazes" [value]="maze.id">{{ maze.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="speed-control">
      <mat-icon>speed</mat-icon>
      <mat-slider formControlName="speed" color="primary" thumbLabel [min]="1" [max]="100" [thumbLabel]="true" [step]="1" [displayWith]="formatSpeedLabel"></mat-slider>
    </div>
  </mat-card-content>
</mat-card>
<button *ngIf="isHidden" @showHideButton color="primary" (click)="showChard()" mat-fab>
  <mat-icon>settings</mat-icon>
</button>