<mat-card *ngIf="!isHidden" @openCloseCard>
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content [formGroup]="settingsForm">
    <mat-form-field appearance="fill">
      <mat-label>Algorithm</mat-label>
      <mat-select formControlName="algorithmId">
        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">{{ algorithm.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maze</mat-label>
      <mat-select formControlName="mazeId" (selectionChange)="onGenrateMaze($event.value)">
        <mat-option *ngFor="let maze of mazes" [value]="maze.id">{{ maze.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Operations per Second</mat-label>
      <input formControlName="operationsPerSecond" matInput>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" (click)="hideCard()" mat-button>Save</button>
  </mat-card-actions>
</mat-card>
<button *ngIf="isHidden" @showHideButton color="primary" (click)="showChard()" mat-fab>
  <mat-icon>settings</mat-icon>
</button>