<mat-card *ngIf="!isHidden" @openCloseCard>
  <mat-card-title>Settings</mat-card-title>
  <mat-card-content [formGroup]="settingsForm">
    <mat-form-field appearance="fill">
      <mat-label>Algorithm</mat-label>
      <mat-select formControlName="algorithm">
        <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.id">{{ algorithm.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Maze & Patterns</mat-label>
      <mat-select formControlName="maze" (selectionChange)="onGenerateMaze()">
        <mat-option *ngFor="let maze of mazes" [value]="maze.id">{{ maze.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slider formControlName="speed" thumbLabel [min]="0" [max]="100" [thumbLabel]="true" [step]="1"
      [displayWith]="formatSpeedLabel"></mat-slider>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" (click)="onVisualize()" mat-flat-button>Visualize</button>
  </mat-card-actions>
</mat-card>
<button *ngIf="isHidden" @showHideButton color="accent" (click)="showChard()" mat-fab>
  <mat-icon>settings</mat-icon>
</button>