<mat-toolbar class="header">
  <button (click)="toggleSidenav()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">Pathfinding Playground</div>
  <div class="flex-spacer"></div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over1" [opened]="showSidenav$ | async" [fixedInViewport]="true" [fixedTopGap]="64"
    [fixedBottomGap]="0" (keydown.escape)="sidenav.close()">
    <div class="sidenav">
      <h3 matSubheader>HISTORY</h3>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <board></board>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>