<mat-toolbar class="header">
  <mat-icon color="primary">directions</mat-icon>
  <div class="title">Pathfinding Playground</div>
  <div class="flex-spacer"></div>
</mat-toolbar>
<mat-divider></mat-divider>
<ng-container *ngIf="width && height">
  <settings-card  (generateMaze)="onGenerateMaze($event)"></settings-card>
  <grid
    [width]="width"
    [height]="height"
    [xNodes]="xNodes"
    [yNodes]="yNodes"
    [pixelSize]="nodeSize"
    [disabled]="!isMouseEnabled"
    (mouseDown)="onMouseDown($event)"
    (mouseMove)="onMouseMove($event)"
    (mouseUp)="onMouseUp($event)"
    (contextMenu)="onContextMenu($event)">
  </grid>
  <grid-controls [visualizing]="visualizing" (visualizePath)="visualizePath()"></grid-controls>
</ng-container>