@import '~@angular/material/theming';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-toolbar.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include mat-elevation(8);

  .title {
    padding: 0 16px;
    font-weight: 300;
  }
}

settings-card {
  right: 20px;
  top: 84px;
}

grid {
  position: absolute;
  top: 64px;
}

mat-sidenav-container {
  position: absolute !important;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.mat-drawer-content {
  overflow: hidden !important;
}

nav-item {
  display: block;
  height: 72px;

  &.dense {
    height: 48px !important;
  }

  a {
    height: inherit !important;
  }
}
