<mat-toolbar class="header">
  <mat-icon color="primary">directions</mat-icon>
  <div class="title">Pathfinding Playground</div>
  <div class="flex-spacer"></div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over1" [opened]="false" [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0"
    (keydown.escape)="sidenav.close()">
    <div class="sidenav">
      <h3 matSubheader>HISTORY</h3>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="width && height">
      <settings-card [settings]="settings" (settingsChange)="onSettingsChanged($event)" (generateMaze)="onGenerateMaze($event)"></settings-card>
      <grid [width]="width" [height]="height" [nodeSize]="28"></grid>
      <grid-controls [visualizing]="visualizing" (visualizePath)="visualizePath()" (resetPath)="resetPath()" (resetWalls)="resetWalls()" (resetAll)="reset()"></grid-controls>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>